.lista-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;

  .card {
    min-width: 30%;
    min-height: 250px;
  }

  nb-actions {
    margin-bottom: 14px;
  }

}
